@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --primary-color: #A294F9;
  --secondary-color: #CDC1FF;
  --light-secondary-color: #E5D9F2;
  --background-color: #F5EFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.s1{
  font-size: 1rem;
}

.s2{
  font-size: 1.5rem;
}

.m1{
  margin: 1rem;
}

.m2{
  margin: 2rem;
}

.mb1{
  margin-bottom: 1rem;
}

.mb2{
  margin-bottom: 2rem;
}

.mt1{
  margin-top: 1rem;
}

.mt2{
  margin-top: 2rem;
}

.ml1{
  margin-left: 1rem;
}

.ml2{
  margin-left: 2rem;
}

.mr1{
  margin-right: 1rem;
}

.mr2{
  margin-right: 2rem;
}

.df{
  display: flex;
}

.fd-c{
  flex-direction: column;
}

/* Arena Home Css */

.arena-home-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 16px; 
  justify-content: space-around;
  align-items: flex-start;
  margin: 16px; 
}

/* Dynamic Arena Home Css */

.dynamic-arena-home-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 16px; 
  justify-content: space-around;
  align-items: flex-start;
  margin: 16px; 
}

